@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SCamp!</h1>
    <br />
    <h3>Login to get full access to our community.</h3>
    <p>
		<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </p>
    <h3>New here?</h3>
    <h4>Click below to join us in this shared college experience:</h4>
    <p>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </p>

</div>
